<div>
  <h2 id="page-heading" data-cy="DemandeEnseignantHeading">
    <span jhiTranslate="issatsoApp.demandeEnseignant.home.title">DemandeEnseignants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.demandeEnseignant.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-enseignant"
        [routerLink]="['/demande-enseignant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.demandeEnseignant.home.createLabel"> Créer un nouveau Demande Enseignant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeEnseignants?.length === 0">
    <span jhiTranslate="issatsoApp.demandeEnseignant.home.notFound">Aucun Demande Enseignant trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandeEnseignants && demandeEnseignants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sujet">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.demandeEnseignant.sujet">Sujet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.demandeEnseignant.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statut">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.demandeEnseignant.statut">Statut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.demandeEnseignant.dateCreation">Date Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proprietaire">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.demandeEnseignant.proprietaire">Proprietaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeEnseignant of demandeEnseignants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-enseignant', demandeEnseignant.id, 'view']">{{ demandeEnseignant.id }}</a>
          </td>
          <td jhiTranslate="{{ 'issatsoApp.SujetEns.' + demandeEnseignant.sujet }}">{{ demandeEnseignant.sujet }}</td>
          <td>{{ demandeEnseignant.description }}</td>
          <td jhiTranslate="{{ 'issatsoApp.Status.' + demandeEnseignant.statut }}">{{ demandeEnseignant.statut }}</td>
          <td>{{ demandeEnseignant.dateCreation | formatMediumDatetime }}</td>
          <td>{{ demandeEnseignant.proprietaire }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-enseignant', demandeEnseignant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-enseignant', demandeEnseignant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(demandeEnseignant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
