<div>
  <h2 id="page-heading" data-cy="MatiereHeading">
    <span jhiTranslate="issatsoApp.matiere.home.title" class="titre">Matieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.matiere.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_RESPONSABLE_ADMINISTRATION'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-matiere"
        [routerLink]="['/matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.matiere.home.createLabel"> Créer un nouveau Matiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matieres?.length === 0">
    <span jhiTranslate="issatsoApp.matiere.home.notFound">Aucun Matiere trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="matieres && matieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matiereName">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.matiere.matiereName">Matiere Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="enseignant.nom">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.matiere.enseignant">Enseignant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matiere of matieres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matiere', matiere.id, 'view']" style="text-decoration: none; color: red">{{ matiere.id }}</a>
          </td>
          <td>{{ matiere.matiereName }}</td>
          <td>
            <div *ngIf="matiere.enseignant">
              <a [routerLink]="['/enseignant', matiere.enseignant.id, 'view']" style="text-decoration: none; color: green">{{
                matiere.enseignant.nom
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_RESPONSABLE_ADMINISTRATION'"
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'view']"
                class="btn btn-dark btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_RESPONSABLE_ADMINISTRATION'"
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_RESPONSABLE_ADMINISTRATION'"
                type="submit"
                (click)="delete(matiere)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
