<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="groupe">
      <h2 data-cy="groupeDetailsHeading"><span jhiTranslate="issatsoApp.groupe.detail.title" class="titre">Groupe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd class="element">
          <span>{{ groupe.id }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.groupe.nomGroupe">Nom Groupe</span></dt>
        <dd class="element">
          <span>{{ groupe.nomGroupe }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.groupe.filiere">Filiere</span></dt>
        <dd class="element">
          <span jhiTranslate="{{ 'issatsoApp.Filiere.' + groupe.filiere }}">{{ groupe.filiere }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.groupe.niveau">Niveau</span></dt>
        <dd class="element">
          <span>{{ groupe.niveau }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-outline-success" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN_ACADEMIQUE'"
        type="button"
        [routerLink]="['/groupe', groupe.id, 'edit']"
        class="btn btn-outline-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
      <br />
      <br />
      <br />
      <br />
      <!-- Section pour afficher les étudiants associés au groupe -->
      <h3 class="titre">Liste des étudiants du groupe</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Numéro d'inscription</th>
            <th scope="col">Filière</th>
            <th scope="col">Niveau</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etudiant of groupe.etudiants">
            <td>{{ etudiant.id }}</td>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>{{ etudiant.numInscription }}</td>
            <td>{{ etudiant.filiere }}</td>
            <td>{{ etudiant.niveau }}</td>
          </tr>
        </tbody>
      </table>

      <ng-template #noStudents>
        <p>Aucun étudiant associé à ce groupe.</p>
      </ng-template>
    </div>
  </div>
</div>
