<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="evenement">
      <h2 data-cy="evenementDetailsHeading"><span jhiTranslate="issatsoApp.evenement.detail.title">Evenement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ evenement.id }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.titre">Titre</span></dt>
        <dd>
          <span>{{ evenement.titre }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.description">Description</span></dt>
        <dd>
          <span>{{ evenement.description }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ evenement.dateDebut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ evenement.dateFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.lieu">Lieu</span></dt>
        <dd>
          <span>{{ evenement.lieu }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.evenement.organisateur">Organisateur</span></dt>
        <dd>
          <span>{{ evenement.organisateur }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/evenement', evenement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
