<div>
  <h2 id="page-heading" data-cy="PartenaireHeading">
    <span jhiTranslate="issatsoApp.partenaire.home.title" class="titre">Partenaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.partenaire.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN_RELATION_PUBLIQUE'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-partenaire"
        [routerLink]="['/partenaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.partenaire.home.createLabel"> Créer un nouveau Partenaire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partenaires?.length === 0">
    <span jhiTranslate="issatsoApp.partenaire.home.notFound">Aucun Partenaire trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="partenaires && partenaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.partenaire.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.partenaire.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="domaineActivite">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.partenaire.domaineActivite">Domaine Activite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.partenaire.adresse">Adresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contact">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.partenaire.contact">Contact</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partenaire of partenaires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partenaire', partenaire.id, 'view']" style="text-decoration: none; color: red">{{ partenaire.id }}</a>
          </td>
          <td>{{ partenaire.nom }}</td>
          <td>{{ partenaire.description }}</td>
          <td>{{ partenaire.domaineActivite }}</td>
          <td>{{ partenaire.adresse }}</td>
          <td>{{ partenaire.contact }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN_RELATION_PUBLIQUE'"
                type="submit"
                [routerLink]="['/partenaire', partenaire.id, 'view']"
                class="btn btn-dark btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN_RELATION_PUBLIQUE'"
                type="submit"
                [routerLink]="['/partenaire', partenaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN_RELATION_PUBLIQUE'"
                type="submit"
                (click)="delete(partenaire)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
