<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="enseignant">
      <h2 data-cy="enseignantDetailsHeading"><span jhiTranslate="issatsoApp.enseignant.detail.title" class="titre">Enseignant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd class="element">
          <span>{{ enseignant.id }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.nom">Nom</span></dt>
        <dd class="element">
          <span>{{ enseignant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.prenom">Prenom</span></dt>
        <dd class="element">
          <span>{{ enseignant.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.cin">Cin</span></dt>
        <dd class="element">
          <span>{{ enseignant.cin }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.email">Email</span></dt>
        <dd class="element">
          <span>{{ enseignant.email }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.numTel">Num Tel</span></dt>
        <dd class="element">
          <span>{{ enseignant.numTel }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.dateEmbauche">Date Embauche</span></dt>
        <dd class="element">
          <span>{{ enseignant.dateEmbauche | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.grade">Grade</span></dt>
        <dd class="element">
          <span jhiTranslate="{{ 'issatsoApp.Grade.' + enseignant.grade }}">{{ enseignant.grade }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.enseignant.groupe">Groupe</span></dt>
        <dd class="element">
          <span *ngFor="let groupe of enseignant.groupes; let last = last">
            <a [routerLink]="['/groupe', groupe.id, 'view']" id="nomg">{{ groupe.nomGroupe }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-outline-success" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_RESPONSABLE_ADMINISTRATION'"
        type="button"
        [routerLink]="['/enseignant', enseignant.id, 'edit']"
        class="btn btn-outline-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
