<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-etudiant-heading"
        data-cy="DemandeEtudiantCreateUpdateHeading"
        jhiTranslate="issatsoApp.demandeEtudiant.home.createOrEditLabel"
        class="titre"
      >
        Créer ou éditer un Demande Etudiant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.demandeEtudiant.sujet" for="field_sujet">Sujet</label>
          <select
            *jhiHasAnyAuthority="'ROLE_ETUDIANT'"
            class="form-control"
            name="sujet"
            formControlName="sujet"
            id="field_sujet"
            data-cy="sujet"
          >
            <option [ngValue]="null">{{ 'issatsoApp.SujetEtud.null' | translate }}</option>
            <option *ngFor="let sujetEtud of sujetEtudValues" [value]="sujetEtud">
              {{ 'issatsoApp.SujetEtud.' + sujetEtud | translate }}
            </option>
          </select>
          <p class="form-control" *jhiHasAnyAuthority="'ROLE_ADMIN_ACADEMIQUE'">{{ selectedSujet }}</p>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.demandeEtudiant.description" for="field_description">Description</label>
          <textarea
            *jhiHasAnyAuthority="'ROLE_ETUDIANT'"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
          <p class="form-control" *jhiHasAnyAuthority="'ROLE_ADMIN_ACADEMIQUE'">{{ description }}</p>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.demandeEtudiant.statut" for="field_statut">Statut</label>
          <select
            *jhiHasAnyAuthority="'ROLE_ADMIN_ACADEMIQUE'"
            class="form-control"
            name="statut"
            formControlName="statut"
            id="field_statut"
            data-cy="statut"
          >
            <option [ngValue]="null">{{ 'issatsoApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'issatsoApp.Status.' + status | translate }}</option>
          </select>
          <input
            *jhiHasAnyAuthority="'ROLE_ETUDIANT'"
            type="text"
            class="form-control"
            name="statut"
            id="field_statu"
            data-cy="statut"
            formControlName="statut"
            [(ngModel)]="stat"
            [readonly]="true"
          />
        </div>

        <div class="mb-3" *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
          <label class="form-label" jhiTranslate="issatsoApp.demandeEtudiant.dateCreation" for="field_dateCreation">Date Creation</label>
          <div class="d-flex">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="datetime-local"
              class="form-control"
              name="dateCreation"
              formControlName="dateCreation"
              placeholder="YYYY-MM-DD HH:mm"
              [readonly]="true"
            />
          </div>
        </div>

        <div class="mb-3" *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
          <label class="form-label" jhiTranslate="issatsoApp.demandeEtudiant.proprietaire" for="field_proprietaire">Proprietaire</label>
          <input
            type="text"
            class="form-control"
            name="proprietaire"
            id="field_proprietaire"
            data-cy="proprietaire"
            formControlName="proprietaire"
            [(ngModel)]="prop"
            [readonly]="true"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-info"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
