<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-support-de-cours-heading"
        data-cy="SupportDeCoursCreateUpdateHeading"
        jhiTranslate="issatsoApp.supportDeCours.home.createOrEditLabel"
        class="titre"
      >
        Créer ou éditer un Support De Cours
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.titre" for="field_titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.contenu" for="field_contenu">Contenu</label>
          <div>
            <div *ngIf="editForm.get('contenu')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('contenu')!.value!, editForm.get('contenuContentType')!.value!)"
                jhiTranslate="entity.action.open"
                STYLE="color: red; font-weight: bold;"
                >Ouvrir</a
              ><br />
            </div>
            <input
              type="file"
              id="file_contenu"
              data-cy="contenu"
              (change)="setFileData($event, 'contenu', false)"
              jhiTranslate="entity.action.addblob"
            />
            <button
              *ngIf="editForm.get('contenu')!.value"
              type="button"
              (click)="editForm.patchValue({ contenu: undefined, contenuContentType: undefined })"
              class="btn btn-secondary btn-xs pull-end"
            >
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
          <input type="hidden" class="form-control" name="contenu" id="field_contenu" data-cy="contenu" formControlName="contenu" />
          <input
            type="hidden"
            class="form-control"
            name="contenuContentType"
            id="field_contenuContentType"
            formControlName="contenuContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.dateDepot" for="field_dateDepot">Date Depot</label>
          <div class="d-flex">
            <input
              id="field_dateDepot"
              data-cy="dateDepot"
              type="datetime-local"
              class="form-control"
              name="dateDepot"
              formControlName="dateDepot"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.filiere" for="field_filiere">Filiere</label>
          <select class="form-control" name="filiere" formControlName="filiere" id="field_filiere" data-cy="filiere">
            <option [ngValue]="null">{{ 'issatsoApp.Filiere.null' | translate }}</option>
            <option *ngFor="let filiere of filiereValues" [value]="filiere">{{ 'issatsoApp.Filiere.' + filiere | translate }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.niveau" for="field_niveau">Niveau</label>
          <input
            type="number"
            class="form-control"
            name="niveau"
            id="field_niveau"
            data-cy="niveau"
            formControlName="niveau"
            min="1"
            max="3"
            step="1"
            value="1"
            [(ngModel)]="firstvalue"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.supportDeCours.matiere" for="field_matiere">Matiere</label>
          <select
            class="form-control"
            id="field_matiere"
            data-cy="matiere"
            name="matiere"
            formControlName="matiere"
            [compareWith]="compareMatiere"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="matiereOption" *ngFor="let matiereOption of matieresenseignant">
              {{ matiereOption.matiereName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-info"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
