<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="actualite">
      <h2 data-cy="actualiteDetailsHeading"><span jhiTranslate="issatsoApp.actualite.detail.title" class="titre">Actualite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd class="element">
          <span>{{ actualite.id }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.actualite.titre">Titre</span></dt>
        <dd class="element">
          <span>{{ actualite.titre }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.actualite.image">Image</span></dt>
        <dd class="element">
          <div *ngIf="actualite.image">
            <a (click)="openFile(actualite.image, actualite.imageContentType)">
              <img
                [src]="'data:' + actualite.imageContentType + ';base64,' + actualite.image"
                style="max-width: 100%"
                alt="actualite image"
              />
            </a>
          </div>
        </dd>
        <dt><span jhiTranslate="issatsoApp.actualite.contenu">Contenu</span></dt>
        <dd class="element">
          <span>{{ actualite.contenu }}</span>
        </dd>
        <dt><span jhiTranslate="issatsoApp.actualite.datePublication">Date Publication</span></dt>
        <dd class="element">
          <span>{{ actualite.datePublication | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-outline-success" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN_COORDINATION'"
        type="button"
        [routerLink]="['/actualite', actualite.id, 'edit']"
        class="btn btn-outline-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
