<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Bienvenue, ISSATSO !</span></h1>

    <div [ngSwitch]="account !== null">
      <div *ngSwitchCase="true" class="menu">
        <div>
          <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
          <span id="accueil" *ngIf="account">{{ currentDate | date : 'dd/MM/yyyy HH:mm' }}</span>
        </div>

        <div class="container"></div>
      </div>
      <button class="btn_conn" (click)="login()" *ngSwitchCase="false">
        <a class="conn" jhiTranslate="global.messages.info.authenticated.link">Se Connecter</a>
      </button>

      <button class="btn_creer" (click)="navigateToRegister()" *ngSwitchCase="false">
        <a class="creer" jhiTranslate="global.messages.info.register.link">S'inscrire</a>
      </button>
    </div>
  </div>
</div>
