<div>
  <h2 id="page-heading" data-cy="SupportDeCoursHeading">
    <span jhiTranslate="issatsoApp.supportDeCours.home.title" class="titre">SupportDeCours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.supportDeCours.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-support-de-cours"
        [routerLink]="['/support-de-cours/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.supportDeCours.home.createLabel"> Créer un nouveau Support De Cours </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="supportDeCours?.length === 0">
    <span jhiTranslate="issatsoApp.supportDeCours.home.notFound">Aucun Support De Cours trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="supportDeCours && supportDeCours.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titre">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.titre">Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contenu">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.contenu">Contenu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDepot">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.dateDepot">Date Depot</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="filiere">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.filiere">Filiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="niveau">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.niveau">Niveau</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="matiere.matiereName">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.supportDeCours.matiere">Matiere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supportDeCours of supportDeCours; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/support-de-cours', supportDeCours.id, 'view']" style="text-decoration: none; color: red">{{
              supportDeCours.id
            }}</a>
          </td>
          <td>{{ supportDeCours.titre }}</td>
          <td>{{ supportDeCours.description }}</td>
          <td>
            <a href="supportDeCours.contenu" target="_blank">Accéder au Support de Cours</a>
          </td>
          <td>{{ supportDeCours.dateDepot | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'issatsoApp.Filiere.' + supportDeCours.filiere }}">{{ supportDeCours.filiere }}</td>
          <td>{{ supportDeCours.niveau }}</td>
          <td>
            <div *ngIf="supportDeCours.matiere">
              <a [routerLink]="['/matiere', supportDeCours.matiere.id, 'view']" style="text-decoration: none; color: green">{{
                supportDeCours.matiere.matiereName
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'"
                type="submit"
                [routerLink]="['/support-de-cours', supportDeCours.id, 'view']"
                class="btn btn-dark btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'"
                type="submit"
                [routerLink]="['/support-de-cours', supportDeCours.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'"
                type="submit"
                (click)="delete(supportDeCours)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
