<div>
  <ng-container *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
    <ng-container>
      {{ redirectToOtherPage() }}
    </ng-container>
  </ng-container>
  <h2 id="page-heading" data-cy="AvisHeading">
    <span jhiTranslate="issatsoApp.avis.home.title" class="titre">Avis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.avis.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ETUDIANT'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-avis"
        [routerLink]="['/avis/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.avis.home.createLabel"> Créer un nouveau Avis </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="avis?.length === 0">
    <span jhiTranslate="issatsoApp.avis.home.notFound">Aucun Avis trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="avis && avis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sujet">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.avis.sujet">Sujet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.avis.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.avis.dateCreation">Date Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avis of avis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/avis', avis.id, 'view']" style="text-decoration: none; color: red">{{ avis.id }}</a>
          </td>
          <td>{{ avis.sujet }}</td>
          <td>{{ avis.description }}</td>
          <td>{{ avis.dateCreation | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN_COORDINATION'"
                type="submit"
                [routerLink]="['/avis', avis.id, 'view']"
                class="btn btn-dark btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <!--<button type="submit" [routerLink]="['/avis', avis.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>-->

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN_COORDINATION'"
                type="submit"
                (click)="delete(avis)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
