<div>
  <h2 id="page-heading" data-cy="EvenementHeading">
    <span jhiTranslate="issatsoApp.evenement.home.title">Evenements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.evenement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evenement"
        [routerLink]="['/evenement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.evenement.home.createLabel"> Créer un nouveau Evenement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
    <span jhiTranslate="issatsoApp.evenement.home.notFound">Aucun Evenement trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="evenements && evenements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titre">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.titre">Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.dateDebut">Date Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.dateFin">Date Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieu">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.lieu">Lieu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organisateur">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.evenement.organisateur">Organisateur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evenement of evenements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a>
          </td>
          <td>{{ evenement.titre }}</td>
          <td>{{ evenement.description }}</td>
          <td>{{ evenement.dateDebut | formatMediumDatetime }}</td>
          <td>{{ evenement.dateFin | formatMediumDatetime }}</td>
          <td>{{ evenement.lieu }}</td>
          <td>{{ evenement.organisateur }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/evenement', evenement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/evenement', evenement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(evenement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
