<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-evenement-heading" data-cy="EvenementCreateUpdateHeading" jhiTranslate="issatsoApp.evenement.home.createOrEditLabel">
        Créer ou éditer un Evenement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.titre" for="field_titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.dateFin" for="field_dateFin">Date Fin</label>
          <div class="d-flex">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="datetime-local"
              class="form-control"
              name="dateFin"
              formControlName="dateFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.lieu" for="field_lieu">Lieu</label>
          <input type="text" class="form-control" name="lieu" id="field_lieu" data-cy="lieu" formControlName="lieu" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.evenement.organisateur" for="field_organisateur">Organisateur</label>
          <input
            type="text"
            class="form-control"
            name="organisateur"
            id="field_organisateur"
            data-cy="organisateur"
            formControlName="organisateur"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
