<div>
  <h2 id="page-heading" data-cy="OffreStageHeading">
    <span jhiTranslate="issatsoApp.offreStage.home.title">OffreStages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="issatsoApp.offreStage.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-offre-stage"
        [routerLink]="['/offre-stage/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="issatsoApp.offreStage.home.createLabel"> Créer un nouveau Offre Stage </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="offreStages?.length === 0">
    <span jhiTranslate="issatsoApp.offreStage.home.notFound">Aucun Offre Stage trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="offreStages && offreStages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titre">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.titre">Titre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="domaine">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.domaine">Domaine</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDebut">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.dateDebut">Date Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.dateFin">Date Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="entreprise">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.entreprise">Entreprise</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lieu">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.lieu">Lieu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departement.departmentName">
            <div class="d-flex">
              <span jhiTranslate="issatsoApp.offreStage.departement">Departement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offreStage of offreStages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/offre-stage', offreStage.id, 'view']">{{ offreStage.id }}</a>
          </td>
          <td>{{ offreStage.titre }}</td>
          <td>{{ offreStage.description }}</td>
          <td jhiTranslate="{{ 'issatsoApp.Domaine.' + offreStage.domaine }}">{{ offreStage.domaine }}</td>
          <td>{{ offreStage.dateDebut | formatMediumDatetime }}</td>
          <td>{{ offreStage.dateFin | formatMediumDatetime }}</td>
          <td>{{ offreStage.entreprise }}</td>
          <td>{{ offreStage.lieu }}</td>
          <td>
            <div *ngIf="offreStage.departement">
              <a [routerLink]="['/departement', offreStage.departement.id, 'view']">{{ offreStage.departement.departmentName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/offre-stage', offreStage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/offre-stage', offreStage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(offreStage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
