<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-groupe-heading" data-cy="GroupeCreateUpdateHeading" jhiTranslate="issatsoApp.groupe.home.createOrEditLabel" class="titre">
        Créer ou éditer un Groupe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.groupe.nomGroupe" for="field_nomGroupe">Nom Groupe</label>
          <input type="text" class="form-control" name="nomGroupe" id="field_nomGroupe" data-cy="nomGroupe" formControlName="nomGroupe" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.groupe.filiere" for="field_filiere">Filiere</label>
          <select class="form-control" name="filiere" formControlName="filiere" id="field_filiere" data-cy="filiere">
            <option [ngValue]="null">{{ 'issatsoApp.Filiere.null' | translate }}</option>
            <option *ngFor="let filiere of filiereValues" [value]="filiere">{{ 'issatsoApp.Filiere.' + filiere | translate }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="issatsoApp.groupe.niveau" for="field_niveau">Niveau</label>
          <input
            type="number"
            class="form-control"
            name="niveau"
            id="field_niveau"
            data-cy="niveau"
            formControlName="niveau"
            min="1"
            max="3"
            step="1"
            value="1"
            [(ngModel)]="firstvalue"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-info"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
